body{
    display: grid;
    grid-template-columns: 300px 1fr;
    
}

.main-body{
    display: grid;
    grid-template-rows: 200px 1fr;
    border: 2px solid black;   
}

.navigator{
    display: flex;
    flex-direction: column;
}

.navigator-search{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); 
}

.navigator-actionbuttons{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.content{
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.content-projects{
    grid-area: 1/1/-1/2;
}

.content-announcements{
    grid-area: 1/2/2/3;
}

.content-trending{
    grid-area: 2/2/3/3;
}

img {
    background-color: lightblue;
}

form{
    position: relative;
}

form>label{
    opacity: 0.3;
    position: absolute;
    left: 5px;
}

form>input:focus+label{
    opacity: 0; 
}

img{
    height: 50px;
    width: auto;
}