body{
    display: grid;
    grid-template-columns: 300px 1fr;
    
}

.dashboard{
    background-color: #1992d4;
}

.dashboard-heading p{
    font-size: 25px;
    font-weight: 700;
    color: white;
}


.dashboard-locations p, .dashboard-help p{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.dashboard-heading, .dashboard-locations, .dashboard-help{
    display: grid;
    grid-template-columns: 1fr 2fr; /* Use of implicit grid, didnt define rows*/
    align-items: center; 
}

.main-body{
    display: grid;
    grid-template-rows: 200px 1fr;
    border: 2px solid black;   
}

.navigator{
    display: flex;
    flex-direction: column;
}

.navigator-search{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); 
}

.navigator-actionbuttons{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.content{
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.content-projects{
    grid-area: 1/1/-1/2;
}

.content-announcements{
    grid-area: 1/2/2/3;
}

.content-trending{
    grid-area: 2/2/3/3;
}

img {
    background-color: lightblue;
}

form{
    position: relative;
}

form>label{
    opacity: 0.3;
    position: absolute;
    left: 5px;
}

form>input:focus+label{
    opacity: 0; 
}

img{
    height: 50px;
    width: auto;
}